<div class="login small-form col-xs-12 col-sm-12 col-md-8 col-md-pull-2 col-lg-6 col-lg-pull-3">
	<form name="form" novalidate>
		<div class="small-form-header col-xs-12">
			حساب المبلغ المالي للأسرة
		</div>
		<div class="alert alert-info col-xs-12 clear-col-padding required-fields-message">
			سيتم حساب المبلغ المالي للأسرة اتباعا للوائح والأنظمة المعتمدة في البرنامج، وذلك بحسب القيم المدخلة في المعملات التالية:
			<ol>
				<li>عدد التابعين بعمر 18 سنة أو أكثر</li>
				<li>عدد التابعين بعمر أقل من 18 سنة</li>
				<li>إجمالي دخل الأسرة</li>
			</ol>
			<strong>ملاحظة:</strong> قد يقل المبلغ المالي الفعلي بعد تطبيق لوائح وأنظمة البرنامج نظراً لتواجد أفراد العائلة داخل حدود المملكة العربية السعودية
		</div>
		<div class="small-form-body col-xs-12">
			<div class="form-input col-xs-12">
				<div class="col-xs-12 col-sm-5">
					عدد التابعين بعمر 18 سنة أو أكثر <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-7">
					<input type="text" name="noOfAdultDependents" class="form-control" maxlength="2" ng-model="formInput.noOfAdultDependents" my-touched my-pattern="^\d+$" required="required" autofocus="autofocus" />
					<div class="error" ng-show="(form.$submitted || form.noOfAdultDependents.$dirty) && form.noOfAdultDependents.$error.required">الرجاء إدخال عدد التابعين بعمر 18 سنة أو أكثر</div>
					<div class="error" ng-show="(form.$submitted || form.noOfAdultDependents.$dirty) && form.noOfAdultDependents.$error.pattern">الرجاء التأكد من صحة عدد التابعين بعمر 18 سنة أو أكثر</div>
				</div>
			</div>
			<div class="form-input col-xs-12">
				<div class="col-xs-12 col-sm-5">
					عدد التابعين بعمر أقل من 18 سنة <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-7">
					<input type="text" name="noOfNonAdultDependents" class="form-control" maxlength="2" ng-model="formInput.noOfNonAdultDependents" my-touched my-pattern="^\d+$" required="required" />
					<div class="error" ng-show="(form.$submitted || form.noOfNonAdultDependents.$dirty) && form.noOfNonAdultDependents.$error.required">الرجاء إدخال عدد التابعين بعمر أقل من 18 سنة</div>
					<div class="error" ng-show="(form.$submitted || form.noOfNonAdultDependents.$dirty) && form.noOfNonAdultDependents.$error.pattern">الرجاء التأكد من صحة عدد التابعين بعمر أقل من 18 سنة</div>
				</div>
			</div>
			<div class="form-input col-xs-12">
				<div class="col-xs-12 col-sm-5">
					إجمالي دخل الأسرة <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-7">
					<input type="text" name="familyIncome" class="form-control" maxlength="9" ng-model="formInput.familyIncome" my-touched my-pattern="^\d{0,9}(\.\d{1,9})?$" required="required" />
					<div class="error" ng-show="(form.$submitted || form.familyIncome.$dirty) && form.familyIncome.$error.required">الرجاء إدخال إجمالي دخل الأسرة</div>
					<div class="error" ng-show="(form.$submitted || form.familyIncome.$dirty) && form.familyIncome.$error.pattern">الرجاء التأكد من صحة إجمالي دخل الأسرة</div>
				</div>
			</div>
		</div>
		<div class="small-form-footer col-xs-12 clear-col-padding">
			<div class="col-xs-12 col-sm-6 clear-col-padding">
				<button class="btn green" ng-click="form.$submitted = true; form.$valid && submitForm(formInput);" ng-disabled="actionInProgress">حساب المبلغ المالي</button>
			</div>
			<div class="col-xs-12 col-sm-6 clear-col-padding text-right" style="font-size: 3rem; font-weight: bold;">
				{{paymentAmount | number: 2}}
			</div>
		</div>
	</form>
</div>
