<form name="form" novalidate>
	<div class="wizard col-xs-12 clear-col-padding">
		<div class="wizard-header col-xs-12 clear-col-padding">
			<ul>
				<li ng-class="{'active': nav.currentTabNumber === 100, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 100) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 100}" style="width: 12.5%;">
					<a href="#/application/1">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 100) != cache.enums.ApplicantWizardTabStatus.COMPLETE">1</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 100) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						بيانات عامة
					</a>
				</li>
				<li ng-class="{'active': nav.currentTabNumber === 300, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 300) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 300}" style="width: 12.5%;">
					<a href="#/application/2">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 300) != cache.enums.ApplicantWizardTabStatus.COMPLETE">2</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 300) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						بيانات العنوان
					</a>
				</li>
				<li ng-class="{'active': nav.currentTabNumber === 200, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 200) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 200}" style="width: 12.5%;">
					<a href="#/application/3">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 200) != cache.enums.ApplicantWizardTabStatus.COMPLETE">3</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 200) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						بيانات التابعين
					</a>
				</li>
				   	<li ng-class="{'active': nav.currentTabNumber === 600, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 600) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 600}" style="width: 12.5%;">
					<a href="#/application/4">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 600) != cache.enums.ApplicantWizardTabStatus.COMPLETE">4</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 600) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						الإفصاح عن الدخل 
					</a>
				</li>
				<li ng-class="{'active': nav.currentTabNumber === 400, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 400) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 400}" style="width: 12.5%;">
					<a href="#/application/5">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 400) != cache.enums.ApplicantWizardTabStatus.COMPLETE">5</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 400) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						بيانات العقارات
					</a>
				</li>
				<li ng-class="{'active': nav.currentTabNumber === 500, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 500) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 500}" style="width: 12.5%;">
					<a href="#/application/6">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 500) != cache.enums.ApplicantWizardTabStatus.COMPLETE">6</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 500) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						بيانات الحساب البنكي
					</a>
				</li>
				<li ng-class="{'active': nav.currentTabNumber === 700, 'completed': loggedInUser.wizardProgressInfo.getTabStatus(200, 700) == cache.enums.ApplicantWizardTabStatus.COMPLETE && nav.currentTabNumber != 700}" style="width: 12.5%;">
					<a href="#/application/7">
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 700) != cache.enums.ApplicantWizardTabStatus.COMPLETE">7</span>
						<span ng-if="loggedInUser.wizardProgressInfo.getTabStatus(200, 700) == cache.enums.ApplicantWizardTabStatus.COMPLETE"><i class="fa fa-check"></i></span>
						إدارة المرفقات 
					</a>
				</li>
				<li ng-class="{'active': nav.currentTabNumber === 1000000, 'completed': loggedInUser.profileStatus == cache.enums.ProfileStatus.COMPLETE && nav.currentTabNumber != 1000000}" style="width: 12.5%;">
					<a href="#/application/8">
						<span ng-if="loggedInUser.profileStatus != cache.enums.ProfileStatus.COMPLETE">8</span>
						<span ng-if="loggedInUser.profileStatus == cache.enums.ProfileStatus.COMPLETE"><i class="fa fa-check"></i></span>
						مراجعة
					</a>
				</li>
			</ul>
		</div>
		<div id="beneficiary-income-modale" class='modal fade' tabindex='-1' role='dialog' hidden="true">
			<div class='modal-dialog' role='document'>
				<div class='modal-content'>
					<div class='modal-header'>
						<h4 class='modal-title'>تأكيد</h4>
					</div>
				<div class='modal-body'>
					<p>هل انت متأكد من قيمة المبلغ الذي قمت بإدخاله؟</p>
				</div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default close-btn' data-dismiss='modal'>لا</button>
					<button type='button' class='btn btn-primary ok-btn' ng-click="saveBeneficiaryIncome(data.group3)">نعم</button>
				</div>
				</div>
			</div>
		</div>
		<div id="dependent-income-modale" class='modal fade' tabindex='-1' role='dialog' hidden="true">
			<div class='modal-dialog' role='document'>
				<div class='modal-content'>
					<div class='modal-header'>
						<h4 class='modal-title'>تأكيد</h4>
					</div>
				<div class='modal-body'>
					<p>هل انت متأكد من قيمة المبلغ الذي قمت بإدخاله؟</p>
				</div>
				<div class='modal-footer'>
					<button type='button' class='btn btn-default close-btn' data-dismiss='modal'>لا</button>
					<button type='button' class='btn btn-primary ok-btn' ng-click="saveDependentIncome(data.group12)">نعم</button>
				</div>
				</div>
			</div>
		</div>
		<div class="wizard-body col-xs-12">
			<div class="alert alert-info col-xs-12 clear-col-padding required-fields-message">هذه العلامة  (<span>*</span>) تعني أن الحقل إجباري.</div>
		
			<div class="alert alert-info col-xs-12 clear-col-padding required-fields-message" style="margin-top: -13px">
				<span><strong> تنبيه  : </strong></span>
				في حال وجود سجل تجاري لك أو لأحد أفراد أسرتك أو التابعين المسجلين ولم تصرح بذلك، فإنه سيؤثر على أهلية استحقاقك أو أهلية التابع
			</div>
			<!-- Beneficiary  income -->
			<div>
				<div class="section-header col-xs-12">دخل المستفيد</div>
				<div>
		<ng-form name="group6Form" novalidate>
			<div class="col-xs-12 clear-col-padding">
				<div class="form-input col-xs-12 col-sm-6">
					<div class="col-xs-12 col-sm-5">
						الحـالة الوظيفـية للمستفيد <span>*</span>
					</div>
					<div class="col-xs-12 col-sm-7">
						<select class="form-control" name="Employment_Status" ng-model="data.group13.Employment_Status" required="required" my-touched">
							<option value="16001">موظف حكومي</option>
							<option value="16002">موظف قطاع خاص</option>
							<option value="16003">عسكري</option>
							<option value="16004">طالب</option>
							<option value="16005">أعمال حرة</option>
							<option value="16006">متقاعد من قطاع حكومي</option>
							<option value="16007">متقاعد من قطاع خاص</option>
							<option value="16009">لا يوجد وظيفة</option>
							<option value="16010">دون سن العمل</option>
							<option value="16011">موظف في قطاع غير ربحي</option>
						</select> <span class="error" ng-show="(form.$submitted || group6Form.Employment_Status.$touched) && group6Form.Employment_Status.$error.required">الرجاء
							اختيار عنصر من القائمة</span>
					</div>
				</div>
			</div>
		</ng-form>
					<table class="table grid-group-table">
						<thead>
							<tr>
<!-- 								<th class="hidden-xs" >الإسم</th> -->
								<th style="width: 20%">نوع الدخل</th>
								<th style="width: 20%">مصدر الدخل</th>
								<th style="width: 25%">المبلغ الشهري مع البدلات</th>
								<th class="hidden-xs" style="width: 20%">الدخل السنوي</th>
								<th>الإجراءات</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in data.group3.items">
<!-- 								<td>{{Beneficiary_Name}}</td> -->
								<td>{{item.Income_Type | incomeType}}</td>
								<td>{{item.Income_Source | incomeSource}}</td>
								<td>{{item.Monthly_Income}}</td>
								<td class="hidden-xs">{{item.Monthly_Income * 12}}</td>
								<td class="actions">
									<button type="button" class="btn edit" style="width: 80px" ng-click="prepareItemForEditing(data.group3, $index); data.group12.showAddForm = false; resetEditableItem(data.group12.editableItem);"
										ng-disabled="data.group3.editableItem.index !== -1">تعديل</button>
									<button type="button" class="btn remove" style="width: 80px" ng-click="removeItem(data.group3, $index);"
										my-confirm-modal="" ng-disabled="data.group3.editableItem.index !== -1">حذف</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-show="data.group3.items.length === 0">
								<td style="text-align: center" colspan="{{32 + 1}}">لايوجد</td>
							</tr>
						</tfoot>
					</table>
					<div class="text-center">
						<button type="button" class="btn add-grid-record" ng-click="data.group3.showAddForm = true; data.group12.showAddForm = false; resetEditableItem(data.group12.editableItem);" ng-hide="data.group3.showAddForm === true">
							إضافة دخل <i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<ng-form name="group4FormOuter" novalidate>
				<div class="grid-form-container col-xs-12" ng-if="data.group3.showAddForm === true">
					<ng-form name="group4Form" novalidate>
					<div class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								نوع الدخل<span>*</span>
							</div>
							<div class="col-xs-12 col-sm-8">
								<select ng-change="resetBeneficiaryIncomeSource()" class="form-control" name="Beneficiary_Income_Type" ng-model="data.group3.editableItem.data.Income_Type"
								my-touched required="required">
									<option value="29001">راتب شهري</option>
									<option value="29002">راتب تقاعدي</option>
									<option value="29003">نشاط تجاري</option>
									<option value="29004">غير ذلك</option>
								</select> 
								<span class="error"	ng-show="(group4Form.$submitted || form.$submitted || group4Form.Beneficiary_Income_Type.$touched) && group4Form.Beneficiary_Income_Type.$error.required">
								الرجاء اختيار عنصر من القائمة
								</span> 
							</div>
						</div>
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								مصدر الدخل <span>*</span>
							</div>
							<div class="col-xs-12 col-sm-8">
								<select ng-change="resetBeneficiaryOtherIncomeSource()" class="form-control" name="Beneficiary_Income_Source" ng-model="data.group3.editableItem.data.Income_Source" required="required"
									my-touched>
									<option value="30001" ng-if="data.group3.editableItem.data.Income_Type == 29001">راتب من القطاع الحكومي أو العسكري</option>                                         
									<option value="30002" ng-if="data.group3.editableItem.data.Income_Type == 29001 || data.group3.editableItem.data.Income_Type == 29002">دخل من القطاع الخاص</option>
									<option value="30003" ng-if="data.group3.editableItem.data.Income_Type == 29002">راتب تقاعدي من القطاع الحكومي أو العسكري</option>                                  
									<option value="30004" ng-if="data.group3.editableItem.data.Income_Type == 29004">مخصص من برنامج حافز</option>                                                       
									<option value="30005" ng-if="data.group3.editableItem.data.Income_Type == 29004">برنامج دعم حكومي</option>                                                          
									<option value="30006" ng-if="data.group3.editableItem.data.Income_Type == 29004">مخصص من برنامج ساند</option>                                                       
									<option value="30007" ng-if="data.group3.editableItem.data.Income_Type == 29003">سجل تجاري</option>                                                                 
									<option value="30008" ng-if="data.group3.editableItem.data.Income_Type == 29003">رخصة محل تجاري</option>                                                            
									<option value="30009" ng-if="data.group3.editableItem.data.Income_Type == 29004">غير ذلك</option>
								</select> <span class="error"
									ng-show="(group4Form.$submitted || form.$submitted || group4Form.Beneficiary_Income_Source.$touched) && group4Form.Beneficiary_Income_Source.$error.required">الرجاء اختيار عنصر من القائمة</span>
							</div>
						</div>
					</div>
					
					<div ng-if="data.group3.editableItem.data.Income_Source == '30009'" class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								تحديد مصدر الدخل<span>*</span>
								<span my-tooltip="(أي دخل سواء كان ثابتا أو متذبذبا ويتم الحصول عليه بشكل دوري سواء كان شهريا أو غير ذلك . على سبيل المثال لا الحصر: عوائد إيجارات الأصول، عوائد الاستثمارات، عوائد الأعمال الحرة)"></span>
							</div>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control" type="text" maxlength="50" required="required" name="Beneficiary_String_Income_Source" ng-model="data.group3.editableItem.data.Other_Income_Source">
								<span class="error"	ng-show="(group4Form.$submitted || form.$submitted || group4Form.Beneficiary_String_Income_Source.$touched) && group4Form.Beneficiary_String_Income_Source.$error.required">
								الرجاء إدخال قيمة
								</span> 
								
							</div>
						</div>
					</div>
					
					
					<div class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div ng-if="data.group3.editableItem.data.Income_Type == '29001' " class="col-xs-10 col-sm-4">
								المـبلغ الشـهري مع البدلات <span>*</span>
									<span  my-tooltip="الرجاء إدخال راتبك الإجمالي قبل خصم نسبة التأمينات وشاملا لجميع البدلات والعلاوات"></span>
							</div>
							
							<div ng-if="data.group3.editableItem.data.Income_Type == '29003' " class="col-xs-10 col-sm-4">
								المـبلغ الشـهري مع البدلات <span>*</span>
									<span my-tooltip="إذا كان الدخل متذبذبا أي غير ثابت القيمة أو يتم الحصول عليه بشكل غير شهري، فلابد من إدخال المتوسط الشهري لهذا الدخل خلال السنة، على سبيل المثال لا الحصر: عوائد الإيجارات، وعوائد الأعمال الحرة، والبدلات المتغيرة"></span>
							</div>
							
							<div ng-if="data.group3.editableItem.data.Income_Type != '29001' && data.group3.editableItem.data.Income_Type != '29003' " class="col-xs-10 col-sm-4">
								المـبلغ الشـهري مع البدلات <span>*</span>
							</div>
								
							<div class="col-xs-12 col-sm-8">
								<input ng-change="validateMonthlyIncome(data.group13.Employment_Status , data.group3.editableItem.data.Monthly_Income , data.group3.editableItem.data.Income_Source)" class="form-control" name="Beneficiary_Income" type="text" ng-model="data.group3.editableItem.data.Monthly_Income"
									
									my-touched pattern="^([0-9]{1,10})((\.)[0-9]{1,2})*$" my-touched ng-minlength="1" ng-maxlength="13" maxlength="13" my-touched required="required" /> 
									<span class="error"
									ng-show="(group4Form.$submitted || form.$submitted || group4Form.Beneficiary_Income.$touched) && group4Form.Beneficiary_Income.$error.required">الرجاء تعبئة بيانات المبلغ الشهري </span> 
									<span class="error" ng-show="(group4Form.$submitted || group4Form.Beneficiary_Income.$touched) && group4Form.Beneficiary_Income.$error.pattern">الرجاء
									إدخال رقم للمبلغ الشهري  </span> 
									<span class="error"
									ng-show="(group4Form.$submitted || group4Form.Beneficiary_Income.$touched) && (group4Form.Beneficiary_Income.$error.minlength || group4Form.Beneficiary_Income.$error.maxlength)">.</span>
									<span class="error"
									ng-show="(group4Form.$submitted || group4Form.Beneficiary_Income.$touched || group6Form.Employment_Status.$touched) && group4Form.Beneficiary_Income.$error.mininteger && (data.group13.Employment_Status==16001|| data.group13.Employment_Status==16003)">الرجاء إدخال قيمة أكبر أو تساوي 1000 ريال</span>
									<span class="error"
									ng-show="showIncomeErrorMessage">الرجاء إدخال قيمة أكبر أو تساوي 100 ريال</span>
							</div>
						</div>
						
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								الدخل السنوي
							</div>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control" name="Beneficiary_Income" type="text" readonly="readonly" ng-model="data.group3.editableItem.data.Monthly_Income * 12"/> 
							</div>
						</div>
					</div>
					<div class="form-input col-xs-12 clear-col-padding">
						<button type="button" class="btn ok" style="width: 80px"
							ng-click="group4Form.$submitted = true; group4Form.$valid && calculateBeneficiaryIncome(data.group3.editableItem.data.Monthly_Income , data.group3 , 'Save');"
							ng-hide="data.group3.editableItem.index !== -1">إضافة</button>
						<button type="button" class="btn cancel" style="width: 80px" ng-click="data.group3.showAddForm = false; resetEditableItem(data.group3.editableItem); form.$submitted = false" ng-hide="data.group3.editableItem.index !== -1">إلغاء</button>
						<button type="button" class="btn ok" style="width: 80px"
							ng-click="group4Form.$submitted = true; group4Form.$valid && calculateBeneficiaryIncome(data.group3.editableItem.data.Monthly_Income , data.group3 , 'Edit');"
							ng-hide="data.group3.editableItem.index === -1">تعديل</button>
						<button type="button" class="btn cancel" style="width: 80px" ng-click="cancelEdit(data.group3)" ng-hide="data.group3.editableItem.index === -1">إلغاء</button>
					</div>
					</ng-form>
				</div>
				<input type="text" style="display: none !important" ng-model="data.group3.items.length" my-min-row-count="0" /> </ng-form>
			</div>
			<!--  -->
			
			
			<!-- Dependent  income -->
			<div ng-hide="data1.group4.items.length == 0">
				<div class="section-header col-xs-12">دخل التابعين</div>
				<div>
					<table class="table grid-group-table">
						<thead>
							<tr>
								<th>الإسم</th>
								<th style="width: 10%" class="hidden-xs">نوع الدخل</th>
								<th style="width: 15%">مصدر الدخل</th>
								<th style="width: 16%">المبلغ الشهري مع البدلات</th>
								<th style="width: 10%" class="hidden-xs">الدخل السنوي</th>
								<th>الإجراءات</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in data.group12.items">
								<td>{{item.Dependent_NIN | dependentNinToName : data1.group4.items}}</td>
								<td class="hidden-xs">{{item.Income_Type | incomeType}}</td>
								<td>{{item.Income_Source | incomeSource}}</td>
								<td>{{item.Monthly_Income}}</td>
								<td class="hidden-xs">{{item.Monthly_Income * 12}}</td>
								<td class="actions">
									<button type="button" class="btn edit" style="width: 80px" ng-click="prepareItemForEditing(data.group12, $index); data.group3.showAddForm = false; resetEditableItem(data.group3.editableItem);"
										ng-disabled="data.group12.editableItem.index !== -1">تعديل</button>
									<button type="button" class="btn remove" style="width: 80px" ng-click="removeItem(data.group12, $index);"
										my-confirm-modal="" ng-disabled="data.group12.editableItem.index !== -1">حذف</button>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr ng-show="data.group12.items.length === 0">
								<td style="text-align: center" colspan="{{32 + 1}}">لايوجد</td>
							</tr>
						</tfoot>
					</table>
					<div class="text-center">
						<button type="button" class="btn add-grid-record" ng-click="data.group12.showAddForm = true; data.group3.showAddForm = false; resetEditableItem(data.group3.editableItem);" ng-hide="data.group12.showAddForm === true">
							إضافة دخل <i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<ng-form name="group5FormOuter" novalidate>
				<div class="grid-form-container col-xs-12" ng-if="data.group12.showAddForm === true">
					<ng-form name="group5Form" novalidate>
					<div class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								التابع<span>*</span>
							</div>
							<div class="form-input col-xs-12 col-sm-8">
								<select ng-change="getEmploymentStatus(data.group12.editableItem.data.Dependent_NIN)" ng-options="item.Dependent_Nin as item.name for item in data1.group4.items | concatenateFourPartsDependentNameWithNin" class="form-control" name="Dependent" ng-model="data.group12.editableItem.data.Dependent_NIN"
									my-touched required="required">
										<option value="0" selected="selected"></option>
								</select>
								<span class="error"	ng-show="(group5Form.$submitted || form.$submitted || group5Form.Dependent.$touched) && group5Form.Dependent.$error.required">
								الرجاء اختيار التابع
								</span>  
							</div>
						</div>
					</div>
					<div class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								نوع الدخل<span>*</span>
							</div>
							<div class="col-xs-12 col-sm-8">
								<select ng-change="resetDependentIncomeSource()" class="form-control" name="Dependent_Income_Type" ng-model="data.group12.editableItem.data.Income_Type"
								my-touched required="required">
									<option value="29001">راتب شهري</option>
									<option value="29002">راتب تقاعدي</option>
									<option value="29003">نشاط تجاري</option>
									<option value="29004">غير ذلك</option>
								</select> 
								<span class="error"	ng-show="(group5Form.$submitted || form.$submitted || group5Form.Dependent_Income_Type.$touched) && group5Form.Dependent_Income_Type.$error.required">
								الرجاء اختيار عنصر من القائمة
								</span> 
							</div>
						</div>
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								مصدر الدخل <span>*</span>
							</div>
							<div class="col-xs-12 col-sm-8">
								<select ng-change="resetDependentOtherIncomeSource()" class="form-control" name="Dependent_Income_Source" ng-model="data.group12.editableItem.data.Income_Source" required="required"
									my-touched>
									<option value="30001" ng-if="data.group12.editableItem.data.Income_Type == 29001">راتب من القطاع الحكومي أو العسكري</option>
									<option value="30002" ng-if="data.group12.editableItem.data.Income_Type == 29001 || data.group12.editableItem.data.Income_Type == 29002">دخل من القطاع الخاص</option>
									<option value="30003" ng-if="data.group12.editableItem.data.Income_Type == 29002">راتب تقاعدي من القطاع الحكومي أو العسكري</option>
									<option value="30004" ng-if="data.group12.editableItem.data.Income_Type == 29004">مخصص من برنامج حافز</option>
									<option value="30005" ng-if="data.group12.editableItem.data.Income_Type == 29004">برنامج دعم حكومي</option>
									<option value="30006" ng-if="data.group12.editableItem.data.Income_Type == 29004">مخصص من برنامج ساند</option>
									<option value="30007" ng-if="data.group12.editableItem.data.Income_Type == 29003">سجل تجاري</option>
									<option value="30008" ng-if="data.group12.editableItem.data.Income_Type == 29003">رخصة محل تجاري</option>
									<option value="30009" ng-if="data.group12.editableItem.data.Income_Type == 29004">غير ذلك</option>
								</select> <span class="error"
									ng-show="(group5Form.$submitted || form.$submitted || group5Form.Dependent_Income_Source.$touched) && group5Form.Dependent_Income_Source.$error.required">الرجاء اختيار عنصر من القائمة</span>
							</div>
						</div>
					</div>
					
					<div ng-if="data.group12.editableItem.data.Income_Source == '30009'" class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								تحديد مصدر الدخل<span>*</span>
								<span my-tooltip="(أي دخل يتم الحصول عليه من مصادر أخرى بشكل دوري سواءً كان شهرياً أو غير ذلك. على سبيل المثال لا الحصر، عائدات إيجار الأصول أو استثمارها أو الأعمال الحرة)"></span>
								
							</div>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control" type="text" required="required" name="Dependent_String_Income_Source" ng-model="data.group12.editableItem.data.Other_Income_Source">
								<span class="error"	ng-show="(group5Form.$submitted || form.$submitted || group5Form.Dependent_String_Income_Source.$touched) && group5Form.Dependent_String_Income_Source.$error.required">
								الرجاء إدخال قيمة
								</span> 
							</div>
						</div>
					</div>
					
					<div class="col-xs-12 clear-col-padding">
						<div class="form-input col-xs-12 col-sm-6">
							<div ng-if="data.group12.editableItem.data.Income_Type == 29001 " class="col-xs-10 col-sm-4">
								المـبلغ الشـهري مع البدلات <span>*</span>
									<span  my-tooltip="الرجاء إدخال راتبك الإجمالي قبل خصم نسبة التأمينات وشاملا لجميع البدلات والعلاوات"></span>
							</div>
							
							<div ng-if="data.group12.editableItem.data.Income_Type == 29003 " class="col-xs-10 col-sm-4">
								المـبلغ الشـهري مع البدلات <span>*</span>
									<span my-tooltip="إذا كان الدخل متذبذبا أي غير ثابت القيمة أو يتم الحصول عليه بشكل غير شهري، فلابد من إدخال المتوسط الشهري لهذا الدخل خلال السنة، على سبيل المثال لا الحصر: عوائد الإيجارات، وعوائد الأعمال الحرة، والبدلات المتغيرة"></span>
							</div>
							
							<div ng-if="data.group12.editableItem.data.Income_Type != 29001 && data.group12.editableItem.data.Income_Type != 29003 " class="col-xs-10 col-sm-4">
								المـبلغ الشـهري مع البدلات <span>*</span>
							</div>
							<div class="col-xs-12 col-sm-8">
								<input ng-change="validateMonthlyIncome(dependentEmploymentStatus , data.group12.editableItem.data.Monthly_Income , data.group12.editableItem.data.Income_Source)" class="form-control" name="Dependent_Income" type="text" ng-model="data.group12.editableItem.data.Monthly_Income"
								
									my-touched ng-pattern="^([0-9]{1,10})((\.)[0-9]{1,2})*$" my-touched ng-minlength="0" ng-maxlength="13" maxlength="13" my-touched required="required" /> 
									<span class="error"
									ng-show="(group5Form.$submitted || form.$submitted || group5Form.Dependent_Income.$touched) && group5Form.Dependent_Income.$error.required">الرجاء تعبئة بيانات المبلغ الشهري  </span> 
									<span class="error" ng-show="(group5Form.$submitted || group5Form.Dependent_Income.$touched) && group5Form.Dependent_Income.$error.pattern">الرجاء
									إدخال رقم للمبلغ الشهري  </span> 
									<span class="error"
									ng-show="(group5Form.$submitted || group5Form.Dependent_Income.$touched) && (group5Form.Dependent_Income.$error.minlength || group5Form.Dependent_Income.$error.maxlength)">.</span>
									<span class="error"
									ng-show="(group5Form.$submitted || group5Form.Dependent_Income.$touched) && group5Form.Dependent_Income.$error.mininteger && (dependentEmploymentStatus==16001|| dependentEmploymentStatus==16003)">دخل
									التابع يجب ان لا يقل عن 1000 ريال للموظف الحكومي والعسكري</span>
									<span class="error"
									ng-show="showIncomeErrorMessage">الرجاء إدخال قيمة أكبر أو تساوي 100 ريال</span>
							</div>
						</div>
						
						<div class="form-input col-xs-12 col-sm-6">
							<div class="col-xs-12 col-sm-4">
								الدخل السنوي
							</div>
							<div class="col-xs-12 col-sm-8">
								<input class="form-control" name="Dependent_Yearly_Income" type="text" readonly="readonly" ng-model="data.group12.editableItem.data.Monthly_Income * 12"/> 
							</div>
						</div>
					</div>
					<div class="form-input col-xs-12 clear-col-padding">
						<button type="button" class="btn ok" style="width: 80px"
							ng-click="group5Form.$submitted = true; group5Form.$valid && calculateDependentIncome(data.group12.editableItem.data.Monthly_Income , data.group12 , 'Save');"
							ng-hide="data.group12.editableItem.index !== -1">إضافة</button>
						<button type="button" class="btn cancel" style="width: 80px" ng-click="data.group12.showAddForm = false; resetEditableItem(data.group12.editableItem); form.$submitted = false" ng-hide="data.group12.editableItem.index !== -1">إلغاء</button>
						<button type="button" class="btn ok" style="width: 80px"
							ng-click="group5Form.$submitted = true; group5Form.$valid && calculateDependentIncome(data.group12.editableItem.data.Monthly_Income , data.group12 , 'Edit');"
							ng-hide="data.group12.editableItem.index === -1">تعديل</button>
						<button type="button" class="btn cancel" style="width: 80px" ng-click="cancelEdit(data.group12)" ng-hide="data.group12.editableItem.index === -1">إلغاء</button>
					</div>
					</ng-form>
				</div>
				<input type="text" style="display: none !important" ng-model="data.group3.items.length" my-min-row-count="0" /> </ng-form>
			</div>
			
		<div class="section-header col-xs-12 clear-col-padding">إقرار</div>
			<div class="alert alert-warning col-xs-12"
					ng-if="form.$submitted && !Salary_Consent">عذرا، لا يمكنك
					الاستمرار قبل تأكيدك على قراءة الإقرار وذلك بالنقر داخل المربع
					الفارغ</div>
					<div class="consent col-xs-12 clear-col-padding">
						<input type="checkbox" ng-model="Salary_Consent"
							required="required" /> 
أتعهد وأقر بأن جميع البيانات المدخلة في استمارة البيانات والدخل الخاصة بالمستفيد والتابعين صحيحة ودقيقة، وفي حال اتضح خلاف ذلك فسوف يتم إلغاء عملية الأهلية، حتى لو تم اكتشاف ذلك عند إصدار القرار النهائي أو بعده. كما أوافق على صحة البيانات الخاصة بـي، وأتعهد بتقديم أي بيانات أخرى يتم طلبها من الجهات المختصة

			</div>
		
		</div>
		<div class="wizard-footer col-xs-12">
			<div class="col-xs-12 clear-col-padding">
				<div class="col-xs-12 col-sm-6 text-xs-center text-sm-right clear-col-padding">
					<button class="btn save" style="width: 130px;" ng-click="form.$submitted = true; form.$valid && saveTabData();" ng-disabled="saveInProgress">
						حفظ <i class="fa fa-save"></i>
					</button>
				</div>
				<div class="col-xs-12 col-sm-6 text-xs-center text-sm-left clear-col-padding"
					ng-show="nav.showNextBtn">
					<button type="button" class="btn previous" style="width: 130px;" ng-click="nav.previousFunction()" ng-show="nav.showPreviousBtn"
						ng-disabled="saveInProgress">
						<i class="fa fa-arrow-circle-right"></i> السابق
					</button>
					<button type="button" class="btn next" style="width: 130px;" ng-click="form.$submitted = true; form.$valid && nav.nextFunction();"
						ng-disabled="saveInProgress">
						التالي <i class="fa fa-arrow-circle-left"></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>