
<div class="small-form col-xs-12 col-sm-12 col-md-8 col-md-pull-2 col-lg-6 col-lg-pull-3">
	<form name="form" ng-submit="submitted = true" class="form-inline normal-form" novalidate>
		<div class="small-form-header col-xs-12">استعادة كلمة المرور</div>
		<div class="alert alert-info col-xs-12 clear-col-padding required-fields-message"  style="font-size:1.2rem">هذه العلامة  (<span>*</span>) تعني أن الحقل إجباري.</div>
		<div class="small-form-body col-xs-12">
			<div class="form-input col-xs-12">
				<div class="col-xs-12 col-sm-4">
					رقم الهوية <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-8">
					<input type="text" name="nin" class="form-control" maxlength="10" ng-model="nin" required="required" my-pattern="^[1-2]\d{9}$"
						autofocus="autofocus" ng-change="isIqama()" />
					<div class="error" ng-if="submitted && form.nin.$error.required">الهوية الوطنية مطلوبة</div>
					<div class="error" ng-show="form.nin.$touched && form.nin.$error.pattern">الرجاء التأكد من صحة رقم الهوية المدخل</div>
				</div>
			</div>

			<div class="form-input col-xs-12" ng-show="dateType === 'hijri'" ng-init="dateType = 'hijri'">
				<div class="col-xs-12 col-sm-4">
					تاريخ الميلاد بالهجري <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-8">
					<select id="day" name="DOBday" ng-model="DOBday" my-hijri-date-options="days" class="form-control day-field" required><option value="" disabled
							selected>اليوم</option></select> <select id="month" name="DOBmonth" ng-model="DOBmonth" my-hijri-date-options="months" class="form-control month-field" required><option
							value="" disabled selected>الشهر</option></select> <select id="year" name="DOByear" ng-model="DOByear" my-hijri-date-options="years"
						class="form-control year-field" required><option value="" disabled selected>السنة</option></select>
					<div class="error" ng-if="submitted && (form.DOByear.$error.required || form.DOBmonth.$error.required || form.DOBday.$error.required)">الرجاء إدخال
						تاريخ الميلاد بالهجري</div>
				</div>
			</div>
			<div class="form-input col-xs-12" ng-show="dateType === 'gregorian'">
				<div class="col-xs-12 col-sm-4">
					تاريخ الميلاد بالميلادي <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-8">
					<select id="day" name="DOBday" ng-model="DOBday" my-gregorian-date-options="days" class="form-control day-field" required><option value=""
							disabled selected>اليوم</option></select> <select id="month" name="DOBmonth" ng-model="DOBmonth" my-gregorian-date-options="months"
						class="form-control month-field" required><option value="" disabled selected>الشهر</option></select> <select id="year" name="DOByear" ng-model="DOByear"
						my-gregorian-date-options="years" my-gregorian-date-options-starting-year="current" my-gregorian-date-options-ending-year="1882"
						class="form-control  year-field" required><option value="" disabled selected>السنة</option></select>
					<div class="error" ng-if="submitted && (form.DOByear.$error.required || form.DOBmonth.$error.required || form.DOBday.$error.required)">
					الرجاء إدخال تاريخ الميلاد بالميلادي
					</div>
				</div>
			</div>
			<div class="form-input col-xs-12">
				<div class="col-xs-12 col-sm-4">
					رقم الجوال <span class="required">*</span>
				</div>
				<div class="col-xs-12 col-sm-8">
					<input type="text" name="mobileNumber" class="form-control" maxlength="10" ng-pattern="/^05[0-9]{8}$/" maxlength="20" ng-model="mobileNumber"
						required="required" placeholder="مثال : 05XXXXXXXX"/>
				<div class="error-message pull-right" ng-show="form.mobileNumber.$error.pattern || (submitted && form.mobileNumber.$error.required)">
					الرجاء التأكد من صحة رقم الجوال المدخل
					<ul>
						<li>يتكون رقم الجوال من 10 خانات تبدأ بـ 05</li>
						<li>رقم الجوال لايحتوي على مسافة أو حروف أو رموز</li>
					</ul>
				</div>
				</div>

			</div>

			<div class="form-input col-xs-12">
				<div class="col-xs-12 col-sm-4">
					تاريخ انتهاء الهوية <span>*</span>
				</div>
				<div class="col-xs-12 col-sm-8">
					<select id="day" name="day" ng-model="day" my-hijri-date-options="days" class="form-control day-field" required><option value="" disabled selected>اليوم</option></select>
					<select id="month" name="month" ng-model="month" my-hijri-date-options="months" class="form-control month-field" required><option value=""
							disabled selected>الشهر</option></select> <select id="year" name="year" ng-model="year" my-hijri-date-options="years" my-hijri-date-options-starting-year="1300"
						my-hijri-date-options-ending-year="1460" class="form-control  year-field" required><option value="" disabled selected>السنة</option></select>
					<div class="error" ng-if="submitted && (form.year.$error.required || form.month.$error.required || form.day.$error.required)">الرجاء التأكد من تاريخ
						انتهاء الهوية</div>
				</div>
			</div>
		</div>
			<div class="small-form-footer col-xs-12 clear-col-padding">
							<button class="btn green" style="width: 130px;" ng-click="form.$valid && resetPassword()">إرسال</button>
			</div>
	</form>
</div>
