<div class="start">
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/application">
								<span class="fa fa-check-square-o"></span>
								<span class="title">تعبئة/إستكمال الطلب</span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/show-profile">
								<span class="fa fa-user"></span>
								<span class="title">ملخص معلومات المستفيد</span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/change-mobile-number">
								<span class="fa fa-mobile"></span>
								<span class="title">تغـيير رقم الجوال</span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/change-password">
								<span class="fa fa-lock"></span>
								<span class="title">تغـيير كلمة المرور</span>
							</a>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/eligibility">
								<span class="fa fa-check-circle-o"></span>
								<span class="title"> قائمة دراسة الاستحقاق</span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/payment">
								<span class="fa fa-money"></span>
								<span class="title"> حالة الدفعات المالية</span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/payment-summary">
								<span class="fa fa-money"></span>
								<span class="title"> ملخص الدفعات المالية</span>
							</a>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color2" href="#/view-appeals/page/1">
								<span class="fa fa-exclamation-triangle"></span>
								<span class="title"> الإعتراضات</span>
							</a>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-3" ng-if="reapplyState">
						<div class="start-box" ng-click="reapply()">
							<a class="color2">
								<span class="fa  fa-retweet"></span>
								<span class="title"> إعادة تقديم الطلب</span>
							</a>
						</div>
					</div>
					
					<div class="col-xs-12 col-sm-6 col-md-3">
						<div class="start-box">
							<a class="color1" href="#/calculate-payment">
								<span class="fa fa-calculator"></span>
								<span class="title">حساب المبلغ المالي للأسرة</span>
							</a>
						</div>
					</div>
					
				</div>