<!DOCTYPE html>
<html ng-app="myApp" ng-strict-di>
<head>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Elm">
<meta name="description" content="subsidies">
<meta name="keywords" content="ca, citizen account, mlsd, حساب المواطن">
<link rel="icon" type="image/png" sizes="36x36" href="resources/img/favicons/android-icon-36x36.png">
<link rel="icon" type="image/png" sizes="48x48" href="resources/img/favicons/android-icon-48x48.png">
<link rel="icon" type="image/png" sizes="72x72" href="resources/img/favicons/android-icon-72x72.png">
<link rel="icon" type="image/png" sizes="96x96" href="resources/img/favicons/android-icon-96x96.png">
<link rel="icon" type="image/png" sizes="144x144" href="resources/img/favicons/android-icon-144x144.png">
<link rel="icon" type="image/png" sizes="192x192" href="resources/img/favicons/android-icon-192x192.png">
<link rel="apple-touch-icon" href="resources/img/favicons/apple-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="resources/img/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="resources/img/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="resources/img/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="resources/img/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="resources/img/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="resources/img/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="resources/img/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="resources/img/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="resources/img/favicons/apple-icon-180x180.png">
<link rel="icon shortcut" type="image/x-icon" href="resources/img/favicons/favicon.ico" />
<link rel="icon" type="image/png" sizes="16x16" href="resources/img/favicons/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="resources/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="resources/img/favicons/favicon-96x96.png">
<link rel="manifest" href="resources/img/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="resources/img/favicons/ms-icon-70x70.png">
<meta name="msapplication-TileImage" content="resources/img/favicons/ms-icon-144x144.png">
<meta name="msapplication-TileImage" content="resources/img/favicons/ms-icon-150x150.png">
<meta name="msapplication-TileImage" content="resources/img/favicons/ms-icon-310x310.png">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"> <!-- REPLACE https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css -->
<link rel="stylesheet" type="text/css" href="resources/css/font-awesome.min.css"> <!-- REPLACE https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css -->
<link rel="stylesheet" type="text/css" href="resources/css/style-ar.css"> <!-- MINIFY -->
<!-- ALL-CSS-FILE -->
<script type="text/javascript" src="resources/js/lib/angular.min.js"></script> <!-- REPLACE https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js -->
<script type="text/javascript" src="resources/js/lib/angular-sanitize.js"></script> <!-- REPLACE https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.min.js -->
<script type="text/javascript" src="resources/js/lib/angular-route.min.js"></script> <!-- REPLACE https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js -->
<script type="text/javascript" src="resources/js/lib/angular-animate.min.js"></script> <!-- REPLACE https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js -->
<script type="text/javascript" src="resources/js/lib/jquery.min.js"></script> <!-- REPLACE https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js -->
<script type="text/javascript" src="resources/js/lib/bootstrap.min.js"></script> <!-- REPLACE https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js -->
<script type="text/javascript" src="resources/js/app-initializer.js"></script>
<script type="text/javascript" src="resources/js/app.js"></script> <!-- MINIFY -->
<script type="text/javascript" src="resources/js/HttpInterceptors.js"></script> <!-- MINIFY -->


<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

<title ng-bind="title">برنامج حساب المواطن</title>
</head>
<body>
	<div ng-if="angularLoaded" class="page-cover-until-angular-is-loaded">
	</div>
	<div class="mask row" ng-if="showMask">
		<div class="col-xs-1 col-sm-5 col-md-5">
		</div>
		<div class="col-xs-9 col-sm-3 col-md-2 row">
			<div class="col-xs-4 row loading-box">
				<div class="loading-icon"></div>
				جاري معالجة طلبك
			</div>
		</div>
		<div class="col-xs-1 col-sm-5 col-md-5">
		</div>
	</div>
	<div id="header">
		<div class="container" >
				<div class="left-header col-xs-12 col-sm-6 text-xs-center text-sm-left pull-left">
				</div>
				<div class="right-header col-xs-12 col-sm-6 text-xs-center text-sm-right pull-right">
					<a href="#/home"><img class="logo" src="resources/img/logo.png" />
					</a>
				</div>
				<div ng-if="loggedIn" class="user-status col-xs-12 col-md-6 col-lg-4 pull-left" ng-cloak>
					<div class="dropdown">
						<button class="btn  dropdown-toggle" type="button"
							id="" 
							aria-haspopup="true" aria-expanded="false">
							<span class="welcome">مرحبا</span>{{loggedInUser.name}}<i
								class=""></i>
						</button>
					</div>
					<div class="info">
						<div  ng-if="!loggedInUser.lastLoginTimestamp">
						أخر دخول: 
						لا يوجد
						</div>
						<div  ng-if="loggedInUser.lastLoginTimestamp">
						أخر دخول: 
						{{loggedInUser.lastLoginTimestamp | default}}
						</div>
					</div>
				</div>
		</div>
	</div>

	<nav id="top-bar" role="navigation" class="navbar navbar-default">
		<div class="container" ng-cloak>
			<div>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="main-menu nav navbar-nav navbar-right">
						<li ng-if="loggedIn" ng-class="{ active: isActive('/start')}"><a href="#/start">الرئيسية</a></li>
						<li ng-if="!loggedIn" ng-class="{ active: isActive('/home')}"><a href="#/home">الرئيسية</a></li>
						<li ng-if="!loggedIn" ng-class="{ active: isActive('/about-program')}"><a href="#/about-program">عن البرنامج</a></li>
						<li ng-if="!loggedIn" ng-class="{ active: isActive('/register')}"><a href="#/register">تسجيل جديد</a></li>
						<li ng-if="!loggedIn" ng-class="{ active: isActive('/login')}"><a href="#/login">حسابي</a></li>
						<li ng-if="loggedIn" ng-class="{ active: isActive('/application')}"><a href="#/application">تعبئة/إستكمال الطلب</a></li>
						<li ng-if="loggedIn" ng-class="{ active: isActive('/show-profile')}"><a href="#/show-profile">ملخص معلومات المستفيد</a></li>
						<li ng-if="false && loggedIn" ng-class="{ active: isActive('/eligibility-status')}"><a href="#/eligibility-status">حالة الإستحقاق</a></li>
						<li ng-class="{ active: isActive('/faq')}"><a href="#/faq">الأسئلة الشائعة</a></li>
					</ul>
					<ul class="user-menu nav navbar-nav" ng-if="loggedIn">
						<li class="account-menu dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> حسابي <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li class="account-dropdown-item"><a href="#/change-password">تغيير كلمة المرور</a></li>
								<li class="account-dropdown-item"><a href="#/change-mobile-number">تغيير رقم الجوال</a></li>
								<li class="account-dropdown-item"><a href="#/logout">تسجيل خروج</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div id="content-area">
		<div class="container">
			<div class="alerts">
				<div ng-repeat="alert in alerts">
					<my-alert my-alert-msg="{{alert.msg}}" my-alert-type="{{alert.type}}"></my-alert>
				</div>
			</div>
			<div id="content" class="row" ng-view>

			</div>
		</div>
	</div>

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="right-footer col-xs-12 col-sm-6">
					<div class="contact-number col-xs-12 col-lg-5 text-xs-center text-sm-right">
						<a href="tel:19912" class="icon_size">19912 <i class="fa fa-phone-square icon_size"></i></a>&nbsp;
						<a href="https://twitter.com/citizenaccount"><i class="fa fa-twitter-square icon_size" aria-hidden="true"></i></a>&nbsp;
						<a href="https://www.youtube.com/channel/UC28KkOkdcg61QNfd_yEm1eA"><i class="fa fa-youtube-square icon_size" aria-hidden="true"></i></a>
					</div>
					<div class="policies col-xs-12 col-lg-7 text-xs-center text-sm-right">
						<a href="#/usage-conditions">سياسة الاستخدام</a> | <a href="#/privacy-policy">سياسة الخصوصية</a>
					</div>
				</div>
				<div class="left-footer col-xs-12 col-sm-6 text-xs-center text-sm-left">جميع الحقوق محفوظة © 2017</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="resources/js/lib/spring-security-csrf-token-interceptor.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/dynamic-route.js"></script>
	<script type="text/javascript" src="resources/js/custom-dynamic-route.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/HomeService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/GenCacheService.js"></script>
	<script type="text/javascript" src="resources/js/services/LoginService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/AlertService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/AuthService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/ApplicantService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/ApplicationService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/DynamicPagesService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/DynamicLookupService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/DynamicEventsService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/TimeoutService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/UtilService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/SharedDataService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/SuggestionService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/FaqService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/NotificationService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/EligibilityService.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/services/ModalService.js"></script>
	<script type="text/javascript" src="resources/js/services/PaymentService.js"></script>  
	<script type="text/javascript" src="resources/js/services/CalculatorService.js"></script>  
	<script type="text/javascript" src="resources/js/controllers/HomeController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/LoginController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/StartController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/ProfileController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/DynamicPagesControllers"></script>
	<script type="text/javascript" src="resources/js/controllers/ApplicantController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/AppealController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/EligibilityController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/PaymentController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/AlertController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/ConsentController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/FaqController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/SuggestionController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/StaticPageController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/NotificationControllers.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/ApplicationController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/GeneralInfoController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/DependentController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/IncomeController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/ReviewTabController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/DocumentManagementController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/controllers/CalculatorController.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-unique.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/paginator.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/hijri-date-options.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/gregorian-date-options.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-equal-values.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-not-equal-values.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/confirmation-modal.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-hijri-date.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-gregorian-date.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/max-integer.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/min-integer.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/saudi-iban.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/pattern.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/touched.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/tooltip.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/alert.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/no-paste.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/min-iban.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-iban-equal-values.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/password-validator.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/iban-moving-cursor.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/validate-iban.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/check-value-appearances.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/angularjs-dropdown-multiselect.min.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/dynamic/linked-dropdownlist-options.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/dynamic/on-demand-linked-dropdownlist-options.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/dynamic/min-row-count.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/dynamic/different-from-applicant-nin.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/dynamic/different-from-applicant-mobile-number.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/directives/dynamic/unique-grid-group-item-value.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/filters/dyn-coordinate-lists.js"></script>
	<script type="text/javascript" src="resources/js/filters/gen-lookup-filters.js"></script>
	<script type="text/javascript" src="resources/js/filters/lookup-filters.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/filters/format-filters.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/filters/functional-filters.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/filters/dyn-lookup-filters.js"></script>
	<script type="text/javascript" src="resources/js/filters/dynamic/dynamic-filters.js"></script> <!-- MINIFY -->
	<script type="text/javascript" src="resources/js/lib/angular-file-upload.js"></script> <!-- MERGE -->
	<script type="text/javascript" src="resources/js/common.js"></script> <!-- MINIFY -->
	<!-- ALL-JS-FILE -->

	<!--[if lte IE 8]>
		<div class="browser-not-supported" style="position: fixed;z-index: 101;top: 0;left: 0;right: 0;background: #ff0000;text-align: center;/* line-height: 2.5; */overflow: hidden;-webkit-box-shadow: 0 0 5px black;-moz-box-shadow:    0 0 5px black;box-shadow:         0 0 5px black;height: 50px;color: white;">
		هذا الإصدار من المتصفح غير مدعوم, قد تواجه مشكلات اثناء تصفحك للموقع, الرجاء تحديث إصدار المتصفح الى أحدث إصدار
		</div>
	<![endif]-->

	<script type="text/javascript">
		if (top != self) {
			var body = document.getElementsByTagName("body")[0];
			body.parentNode.removeChild(body);
		}
	</script>
</body>
</html>