<form name="form" novalidate>
	<div class="wizard col-xs-12 clear-col-padding">
		

		<div class="wizard-body col-xs-12">
			<ng-form name="group1Form" novalidate="" class="ng-pristine ng-invalid ng-invalid-required">
				
				<div class="section-header col-xs-12">الإعتراضات</div>
					
					<table class="table grid-group-table">
						<thead>
							<tr>
								<th class="col-xs-1">رقم الاعتراض</th>
								<th class="col-xs-2">تاريخ تقديم الاعتراض</th>
								<th class="col-xs-2">الفئة الرئيسية</th>
								<th class="col-xs-2">الفئة الفرعية</th>
								<th class="col-xs-2">قرار الاعتراض</th>
								<th class="col-xs-4">سبب رفض الاعتراض</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in data">
								<td>{{item.appealId}}</td>
								<td>{{item.appealCreationDate}}</td>
								<td>{{item.category}}</td>
								<td>{{item.subcategory}}</td>
								<td>{{item.appealStatus | appealStatus}}</td>
								<td>{{item.appealRejectionReason}}</td>
								
							</tr>
							<tr ng-if="!data || data.length<=0">
								<td colspan="6"> لا يوجد</td>
							</tr>
						</tbody>
					</table>
				
				
			</ng-form>
			<div ng-if="data.length > 0" class="col-xs-12 clear-col-padding">
      			<ul class="pagination" my-paginator my-paginator-total="{{appealsCount}}" my-paginator-size="15" my-paginator-current="{{currntPage}}" my-paginator-url="#/view-appeals/page/"></ul>
			</div>
		</div>
			
		


	</div>
</form>
